.NAVBAR{
    background-color: lightcyan;
    border-radius: 10px;
    
}
    .NAVBAR ul{
    
    
      overflow: auto;
    }
    .NAVBAR li a{
    
      padding:  1px 1px;
    color: black;
    text-decoration: none;
    -ms-touch-action: manipulation;
    
    
    }
    
    
    .NAVBAR li{
    
      float: left;
        list-style: none;
        padding: 1px 1px;
    margin: 20px 10px;
 
      }
      
      
      .buttons
      {
        
        position: absolute;
        right: 30px;
        top: 18px;
        color: black;
        padding: 3px 3px;
        margin: 20px 15px;
      }
.leh{
    background-image: url(../photos/leh.jpg);
    background-repeat: cover;
    background-size: cover;
	height: 220px;
	width: 50%;
    background-repeat: no-repeat fixed;
}
.lehi{
    font-size: 1.5cm;
     font-family: 'Raleway', sans-serif;
padding: 2cm;
color: white;
background-color: #0009;
height: 1.85cm;
font-weight: 800;    
}

.kar{
     background-image: url(../photos/kargil.jpg);
    background-repeat: cover;
    background-size: cover;
	height: 220px;
	width: 50%;
    background-repeat: no-repeat fixed;

}

.kari{
    font-size: 1.5cm;
    font-family: 'Raleway', sans-serif;
padding: 2cm;
color: white;
background-color: #0009;
height: 1.85cm;
font-weight: 800; 

}
.pang{ 
    
    background-image: url(../photos/PangongTso\,.jpg);
    background-repeat: cover;
    background-size: cover;
	height: 220px;
	width: 50%;
    background-repeat: no-repeat fixed;

}
.pangi{
    font-size: 1.5cm;
    font-family: 'Raleway', sans-serif;
padding: 2cm;
background-color: #0009;
height: 1.85cm;
color: white;
font-weight: 800;
}



.aga{ 
    
    background-image: url(../photos/agat.jpeg);
    background-repeat: cover;
    background-size: cover;
	height: 220px;
	width: 50%;
    background-repeat: no-repeat fixed;

}
.agai{
    font-size: 1.5cm;
    font-family: 'Raleway', sans-serif;
padding: 2cm;
background-color: #0009;
height: 1.85cm;
color: white;
font-weight: 800;
}


.ban{ 
    
    background-image: url(../photos/bangram.jpg);
    background-repeat: cover;
    background-size: cover;
	height: 220px;
	width: 50%;
    background-repeat: no-repeat fixed;

}
.bani{
    font-size: 1.5cm;
    font-family: 'Raleway', sans-serif;
padding: 2cm;
background-color: #0009;
height: 1.85cm;
color: white;
font-weight: 800;
}


.kad{ 
    
    background-image: url(../photos/kadmat.jpg);
    background-repeat: cover;
    background-size: cover;
	height: 220px;
	width: 50%;
    background-repeat: no-repeat fixed;

}
.kadi{
    font-size: 1.5cm;
    font-family: 'Raleway', sans-serif;
padding: 2cm;
background-color: #0009;
height: 1.85cm;
color: white;
font-weight: 800;
}
















































.botton{

    border: 1px solid;
    height: 1.3cm;
    width: 5.5cm;
    padding: 0.4cm;
    background-color: khaki;
    border-radius: 2cm;
    font-size: 1cm;
        font-family: 'Raleway', sans-serif;
    
    }
    .copyright{
        padding-top: 1cm;
      background-color: lightcyan;
      height: 1.5cm;
      font-size: 0.5cm;
      
      
      
      }
    