*{
    box-sizing: border-box;
}
div
{
    border-radius: 5px;
    }
img{
    height: 300px;
    width: 480px;
}
.NAVBAR{
    background-color: lightcyan;
    border-radius: 10px;
}
    .NAVBAR ul{
    
        overflow: auto;
    }
    .NAVBAR li a{
    
        padding:  1px 1px;
        color: black;
        text-decoration: none;
        -ms-touch-action: manipulation;
    }
    .NAVBAR li{
    
        float: left;
        list-style: none;
        padding: 1px 1px;
        margin: 20px 10px;
    }
    .buttons{
        
        position: absolute;
        right: 30px;
        top: 18px;
        color: black;
        padding: 3px 3px;
        margin: 20px 15px;
    }
.row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.side{
    -ms-flex: 40%;
    flex: 40%;
    background-color:silver;
    padding: 20px;
}
.main{
    -ms-flex: 60%;
    flex: 60%;
    background-color: lightgrey;
    padding: 20px;
}
h1{
    color: brown;
}
h2{
    color: brown;
}
@media screen and (max-width:700px){
    .row{
        flex-direction: column;
    }
}
@media screen and (max-width:400px){
    .navbar a{
        float:none;
        width: 100%;
    }
}
.copyright{
    padding-top: 1cm;
  background-color: lightcyan;
  height: 1.5cm;
  font-size: 0.5cm;
  
  
  
  }